<!DOCTYPE html>
<html>
	#parse("../Public/_head.html") 
	<style>
		.friendlink{position: inherit;}
		.footer{padding-bottom: 40px;}
	</style>
	<body>
		<!--header-->
		 #parse("../Public/_header.html") 
		<!--end-->
		#parse("../Public/_User.html") 
		<!--法律声明-content-->
		<section class="flcm">
			<div class="jrwm-top">
				<h5>JOIN US</h5>
				<strong>加入我们</strong>
				<div class="jrwm-top-xian">
					<img src="${themepath}images/xian_03.jpg"/>
				</div>
			</div>
			<div style="text-align: center;"><a class="shengm" href="javascript:;">欢迎合伙</a></div>
			<div class="center">
				 #foreach($item in ${Helper.GetArticleList(1,17,1)})
				 ${item.Content}
                #end
			</div>
		</section>
		<!--end-->
		<!--footer-->
		<section style="width: 100%;background:#EAEAEA;">
		<!--foot--->
                #parse("../Public/foot.html")   
            <!--foot end-->
			<!--end-->
			<!--copyright-->
				 #parse("../Public/Footer.html") 
				<!--end-->
	
	</section>
	<!--end-->
	</body>
</html>


