<!DOCTYPE html>
<html>
		#parse("../Public/_head.html") 
		<style>
		.friendlink{position: inherit;}
		.footer{padding-bottom: 40px;}
	</style>
	<body>
		<!--header-->
		 #parse("../Public/_header.html") 
		<!--end-->
		#parse("../Public/_User.html") 
		<!--功能介绍-content-->
		<section class="flcm">
			<div class="gn_bg">
				<div style="width:1000px;margin: 0 auto;">
					<div class="fl">
						<h1>河狸装修云设计</h1>
						<ul>
							<li><img src="${themepath}images/checked.png" class="gn_jj"/>河狸装修</li>
							<li><img src="${themepath}images/checked.png" class="gn_jj"/>做真正意义上的室内设计</li>
							<li><img src="${themepath}images/checked.png" class="gn_jj"/>不是设计工具</li>
							<li><img src="${themepath}images/checked.png" class="gn_jj"/>要着力形成对外开放新体制</li>
							<li><img src="${themepath}images/checked.png" class="gn_jj"/>要着力践行以人民为中心的发展思想</li>
							<li><img src="${themepath}images/checked.png" class="gn_jj"/>供给侧结构性改革</li>
							<li><img src="${themepath}images/checked.png" class="gn_jj"/>重点是解放和发展社会生产力</li>
						</ul>
						<a class="hot" href="javascript:;">开始设计</a>
					</div>
					<div class="fr zh">
						<div class="zh_green">招商入驻</div>
						<div class="midd">
							电话：400-1023-100<br>
							QQ：95802316
						</div>
						<div class="zh_bottom">
							<a href="javascript:;">北京简尚装饰是丽贝亚集团</a><br />
							<a href="javascript:;">旗下院属室内设计研究</a><br/>
							<a href="javascript:;">商业空间装饰设计</a>
						</div>
						<div><a class="zh_kefu" href="javascript:;">在线咨询</a></div>
					</div>


					<div class="clear"></div>
				</div>
					
			</div>
			<div class="flcm_top">
				<h5>SERVICE</h5>
				<strong class="flcm_strong">河狸装修所能做到的</strong>
			</div>
			<div style="text-align: center;"><a class="shengm" href="javascript:;">我们的优势</a></div>
		</section>
		<section class="gnjs_banner">
			<ul>
				<li>
					<p>我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势</p>
					<p>我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势</p>
					<p>我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势</p>
				</li>
				<li>
					<p>我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势</p>
					<p>我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势</p>
					<p>我们的优势我们的优势我们的优势我们的优势我们的优势我们的优势</p>
				</li>
			</ul>
			<div class="gnjs_RL gnjs_left"><</div>
			<div class="gnjs_RL gnjs_right">></div>
			<span class="eeeee"></span>
		</section>
		<!--end-->
		
		
		
		
		
		
			
		<!--园-->
		<section class="gnjs_yuan">
			<a href="javascript:;" class="yuan gnjs_yuan1"></a>
			<a href="javascript:;" class="yuan gnjs_yuan2"></a>
			<a href="javascript:;" class="yuan gnjs_yuan3"></a>
			<a href="javascript:;" class="yuan gnjs_yuan4"></a>
			<div href="javascript:;" class="clear"></div>
		</section>
		<!--end-->
		
		
		
		
		
		<!--content-->
		<section class="gnjs_content">
			<div class="gnjs_content1">
				<div style="text-align: center;margin-bottom:10px;"><a href="javascript:;" style="color: #3CD2EB;">家俱厂商合作</a></div>
				<img src="${themepath}images/con_03.png" align="left" style="padding-right: 20px;"/>
				<div style="padding-top:80px;">
					<h3>一、选择户型</h3>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作家</p>
					<p>家俱厂商合作家俱厂</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商家家家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商家家家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作</p>
				</div>
			</div>
			<div class="gnjs_content1">
				<div style="text-align: center;margin-bottom:10px;"><a href="javascript:;" style="color: #3CD2EB;">建材商家合作</a></div>
				<img src="${themepath}images/con_07.png" align="right" style="padding-right: 20px;"/>
				<div style="padding-top:80px;">
					<h3>二、选择户型</h3>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作家</p>
					<p>家俱厂商合作家俱厂</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商家家家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商家家家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作</p>
				</div>
			</div>
			<div class="gnjs_content1">
				<div style="text-align: center;margin-bottom:10px;"><a href="javascript:;" style="color: #3CD2EB;">装修（施工）企业合作</a></div>
				<img src="${themepath}images/con_03.png" align="left" style="padding-right: 20px;"/>
				<div style="padding-top:80px;">
					<h3>三、选择户型</h3>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作家</p>
					<p>家俱厂商合作家俱厂</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商家家家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商家家家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作</p>
				</div>
			</div>
			<div class="gnjs_content1">
				<div style="text-align: center;margin-bottom:10px;"><a href="javascript:;" style="color: #3CD2EB;">家居家装合作</a></div>
				<img src="${themepath}images/con_07.png" align="right" style="padding-right: 20px;"/>
				<div style="padding-top:80px;">
					<h3>四、选择户型</h3>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作家</p>
					<p>家俱厂商合作家俱厂</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商家家家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商家家家</p>
					<p>家俱厂商合作家俱厂商合作家俱厂商合作商合作商合作</p>
				</div>
			</div>
		</section>
		<!--end-->
		
		<div class="flcm_top">
			<h5>METHOD</h5>
			<strong class="flcm_strong">品牌商家入驻流程</strong>
		</div>	
		<div class="method">
			<ul>
				<li>
					<ul class="method_ul2">
						<li>1</li>
						<li><h4>商务洽谈</h4></li>
						<li>电话：0571-81021879</li>
						<li>邮箱：bd@qunhemail.com</li>
						<li>QQ：800003475</li>
						<li>联系我们</li>
					</ul>
				</li>
				<li>
					<ul class="method_ul2">
						<li>2</li>
						<li><h4>提交申请</h4></li>
						<li>填写虚拟体验馆入驻信息确认服务协议及合同</li>
					</ul>
				</li>
				<li>
					<ul class="method_ul2">
						<li>3</li>
						<li><h4>缴纳入驻费</h4></li>
						<li>线上支付虚拟体验馆入驻费用</li> 
					</ul>
				</li>
				<li>
					<ul class="method_ul2">
						<li>4</li>
						<li><h4>虚拟体验馆定制</h4></li>
						<li>提供商品3D模型、商家样板间商家介绍、商家LOGO、商家BANNER</li>
					</ul>
				</li>
				<li>
					<ul class="method_ul2">
						<li>5</li>
						<li><h4>虚拟体验馆交付</h4></li>
						<li>虚拟体验馆界面14个工作日内定制完成，3D模型14个工作日</li>
					</ul>
				</li>
			</ul>
		</div>
		<!--footer-->
		<section style="width: 100%;background:#EAEAEA;margin-top:100px;">
		<!--foot--->
                #parse("../Public/foot.html")   
            <!--foot end-->
			<!--end-->
			<!--copyright-->
				 #parse("../Public/Footer.html") 
				<!--end-->
	</section>
	<!--end-->
	</body>
</html>


